.price {
    font-size: 3em;
    color: $colorOlive;
    font-weight: bold;
}

.productDetailContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 80px;
}

.imgContainer {
    width: 65%;
    text-align: right;
    margin-right: 75px;
    margin-left: -160px;
}

.imgContainer > img {
    padding: 10% 8%;
    width: 50%;
    border: 1px solid $secondaryColor;
}

.infoContainer {
    width: 50%;
}