.price {
  font-size: 3em;
  color: #818735;
  font-weight: bold;
}

.productDetailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 6%;
  align-items: center;
}


.imgContainer > img {
  padding: 10% 8%;
  border: 1px solid #86895d;
}

.infoContainer {
  width: 34vw;
}

.infoAndCount {
  padding: 5%;
}

@media (min-width:580px) {
  .productDetailContainer {
    flex-direction: row;
  }
}