.productContainer {
    width: 80%;
    height: 50vh;
    border: 1px solid black;
    margin: 10px;
}
.productContainer:hover {
    border: 2px solid black;
}
.productInfo {
    width: 90%;
    margin: 5%;
    height: 30%;
    margin-top: 15%;
}
img,
.productInfo {
    text-align: center;
}
img {
    max-height: 95%;
}
.productImg {
    height: 50%;
    text-align: center;
    margin-top: 10%;
}

h2, h3  {
    font-weight: bold;
    text-align: left;
    font-size: medium;
}
h3 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

h2 {
    color: #818735;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media (min-width: 440px) {
    .productContainer {
        width: 45%;
    }
}

@media (min-width: 900px) {
    .productContainer {
        width: 22%;
    }
}