.productContainer {
    width: 40%;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}

.productContainer:hover {
    border: 2px solid black;
}

.productImg {
    width: 70%;
    margin: 10% 0;
    height: 55%;
}

@media (min-width: 1200px) {
    .productContainer {
        width: 22%;
    }
    
}