$colorOlive: #818735;
$colorOliveHover: #7c8047;
$secondaryColor: #86895d;
$navbarOptions: #fff;

* {
    font-family: 'DM Sans', sans-serif;
}

h1 {
    font-family: bebas neue;
}

h2, h3 {
    font-family: montserrat;
}
  
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #B9A426;
    color: black;
    padding: 15px;
}

.rightNavbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:900px) {
    .rightNavbar {
        width: 50%;
    }
    
    .navbar {
        flex-direction: row;
    }
}