$colorOlive: #818735;
$colorOliveHover: #7c8047;
$secondaryColor: #86895d;
$navbarOptions: #fff;

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $colorOlive;
    color: $navbarOptions;
    font-weight: bold;
    padding: 15px;
}

.rightNavbar {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
