.productList {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 5%;
}

@media (min-width: 1200px) {
    .productList {    
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 2% 5%;
    }    
}